
        $primary-color: #FF7F50;
        $secondary-color: #FEFEE8;
        $third-color: #787878;
        $fourth-color: #C0C0C0;
    
    *{
        margin:0;
        padding: 0;
        box-sizing: border-box;
    }

    html{
        height: 100%;
    }

    body{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h1{
            margin-bottom: 50px;
            font-family: 'Open Sans', sans-serif;
            font-size: auto;
        }

        .todo__main{
            width: 60%;
            display: flex;
            flex-wrap: wrap;

            .todoName{
                width: 90%;
                text-align: center;
                height: 50px;
            }

            .addTodo--button{
                background-color: $third-color;
                border: solid 2px #000000;
                width: 10%;
                height: 50px;
                cursor: pointer;
            }

            .todoItems{
                list-style-type: none;
                width: 100%;
                height: 20px;

                .listItem{
                    padding: 5px 5px 0 10px;
                    font-weight: 200;
                    width: 100%;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    background-color: $fourth-color;
                    color: #000000;
                    font-size: 25px;
                    font-family: 'Open Sans', sans-serif;
                    cursor: pointer;
                    word-wrap: break-word;
                    text-align: center;

                    &:nth-child(odd){
                        background: $primary-color;
                    }

                    .listItemText{
                        display: inline-block;
                        width: 90%;
                    }

                    .todoRemove--button{
                        float: right;
                        background-color: transparent;
                        border: none;
                        cursor: pointer;
                        width: 20px;
                        margin-top: 3px;
                        transition: 0.5s;

                        &:hover{
                            color: #ffffff;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 478px){
        .addTodo--button{
              font-size: 0;
          }
      }